[project]
	description = Patching components source code and repackaging in RPMs
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group @rhos-ci
[access "refs/for/refs/*"]
	read = group Anonymous Users
	label-Code-Review = -2..+2 group @rhos-ci
	label-Verified = -1..+1 group @rhos-ci
	rebase = group @rhos-ci
	removeReviewer = group @rhos-ci
	submit = group @rhos-ci
[access "refs/heads/*"]
	read = group Anonymous Users
	create = group @rhos-ci
	pushMerge = group @rhos-ci
[access "refs/tags/*"]
	push = group @rhos-ci
