[project]
	description = Patching components source code and repackaging in RPMs
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Arie Bregman (bregman-arie)
	owner = group user/David Sariel (dsariel)
	owner = group user/RHOS CI (rhos-ci)
	owner = group user/Sorin Sbarnea (ssbarnea)
	owner = group user/Waldemar Znoinski (wznoinsk)
[access "refs/for/refs/*"]
	read = group user/Arie Bregman (bregman-arie)
	read = group user/David Sariel (dsariel)
	read = group user/RHOS CI (rhos-ci)
	read = group user/Sorin Sbarnea (ssbarnea)
	read = group user/Waldemar Znoinski (wznoinsk)
	label-Code-Review = -2..+2 group user/Arie Bregman (bregman-arie)
	label-Code-Review = -2..+2 group user/David Sariel (dsariel)
	label-Code-Review = -2..+2 group user/RHOS CI (rhos-ci)
	label-Code-Review = -2..+2 group user/Sorin Sbarnea (ssbarnea)
	label-Code-Review = -2..+2 group user/Waldemar Znoinski (wznoinsk)
	label-Verified = -1..+1 group user/Arie Bregman (bregman-arie)
	label-Verified = -1..+1 group user/David Sariel (dsariel)
	label-Verified = -1..+1 group user/RHOS CI (rhos-ci)
	label-Verified = -1..+1 group user/Sorin Sbarnea (ssbarnea)
	label-Verified = -1..+1 group user/Waldemar Znoinski (wznoinsk)
	rebase = group user/Arie Bregman (bregman-arie)
	rebase = group user/David Sariel (dsariel)
	rebase = group user/RHOS CI (rhos-ci)
	rebase = group user/Sorin Sbarnea (ssbarnea)
	rebase = group user/Waldemar Znoinski (wznoinsk)
	removeReviewer = group user/Arie Bregman (bregman-arie)
	removeReviewer = group user/David Sariel (dsariel)
	removeReviewer = group user/RHOS CI (rhos-ci)
	removeReviewer = group user/Sorin Sbarnea (ssbarnea)
	removeReviewer = group user/Waldemar Znoinski (wznoinsk)
	submit = group user/Arie Bregman (bregman-arie)
	submit = group user/David Sariel (dsariel)
	submit = group user/RHOS CI (rhos-ci)
	submit = group user/Sorin Sbarnea (ssbarnea)
	submit = group user/Waldemar Znoinski (wznoinsk)
[access "refs/heads/*"]
	read = group user/David Sariel (dsariel)
	read = group user/RHOS CI (rhos-ci)
	read = group user/Sorin Sbarnea (ssbarnea)
	read = group user/Waldemar Znoinski (wznoinsk)
	create = group user/David Sariel (dsariel)
	create = group user/RHOS CI (rhos-ci)
	create = group user/Sorin Sbarnea (ssbarnea)
	create = group user/Waldemar Znoinski (wznoinsk)
	push = group user/David Sariel (dsariel)
	push = group user/RHOS CI (rhos-ci)
	push = group user/Sorin Sbarnea (ssbarnea)
	push = group user/Waldemar Znoinski (wznoinsk)
	pushMerge = group user/David Sariel (dsariel)
	pushMerge = group user/RHOS CI (rhos-ci)
	pushMerge = group user/Sorin Sbarnea (ssbarnea)
	pushMerge = group user/Waldemar Znoinski (wznoinsk)
[access "refs/tags/*"]
	push = group user/David Sariel (dsariel)
	push = group user/David Sariel (dsariel)
	push = group user/RHOS CI (rhos-ci)
	push = group user/Sorin Sbarnea (ssbarnea)
	push = group user/Waldemar Znoinski (wznoinsk)
