[rhos-{{ install.component.version }}.0-odl-rhel-{{ rhel_version_major }}-build]
name=Tools required to build OpenDaylight
baseurl="http://download.engineering.redhat.com/brewroot/repos/rhos-{{ install.component.version }}.0-odl-rhel-{{ rhel_version_major }}-build/latest/x86_64/"
enabled=1
gpgcheck=0
priority=1
